.sis-poopyShmoopy {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 40%;
    top: 0;
    background-color: yellow;
    color: black;
    line-height: 3em;
    text-align: center;
    &.is-leaving {
        background-color: pink;
    }
}