.sis-enemy {
    position: absolute;
    display: flex;
    width: 3em;
    height: 3em;
    color: black;
    line-height: 3em;
    text-align: center;

}
.sis-poopyShmoopy {
    background-color: yellow;
    &.is-leaving {
        background-color: pink;
    }
}